# -----------------------------------------
# Python 通用忽略
# -----------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.tox/
.venv/

# -----------------------------------------
# Jupyter / Notebook 忽略
# -----------------------------------------
*.ipynb_checkpoints
*.nbconvert
.ipynb_checkpoints/

# -----------------------------------------
# PyTorch / 训练文件
# -----------------------------------------
*.pt
*.pth
*.ckpt
*.bin
checkpoints/
models/
runs/
lightning_logs/

# -----------------------------------------
# 数据集 / 大文件
# -----------------------------------------
data/
dataset/
edu_fineweb1B/
*.csv
*.json
*.h5
*.parquet
*.zip
*.tar
*.gz

# -----------------------------------------
# 系统 / IDE 缓存
# -----------------------------------------
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~